.graph-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.checkbox-input{
  margin-bottom: 1.5rem;
}

td{
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
